#index_recipes
  - recipes.each do |recipe|
    .row
      .box
        .col-lg-12
          .recipe
            %hr
            .title
              = link_to recipe.name, recipe
            %p.text-center
              = "#{recipe.proteins} / #{recipe.fat} / #{recipe.carbs}"
              %br/
              = recipe.calories
            %hr
            - if recipe.image.exists?
              = image_tag recipe.image.url(:medium), class: "img-responsive img-border img-left"
            %hr.visible-xs
            %p= raw recipe.description
  .row
    .box
      .col-lg-12
        .pagination-box
          = will_paginate recipes, :previous_label => 'Предыдущая', :next_label => 'Следующая'
