.recipe
  .row
    .box
      .col-lg-12
        .title
          =@recipe.name
        - if @recipe.image.exists?
          = image_tag @recipe.image.url(:large)
        .row
          .col-md-12
            %p.text-center
              = "Белки: #{@recipe.proteins} / Жиры: #{@recipe.fat} / Углеводы: #{@recipe.carbs}"
              %br/
              = "Калории: #{@recipe.calories}"
        .recipe-description
          = raw @recipe.description
        %p Добавлено:
        = link_to @recipe.user.email, user_recipes_path(@recipe.user)
        %p= @recipe.created_at
        %hr/
        - if @recipe.has_ingredients
          #ingredients
            %p Ингредиенты:
            = render @recipe.ingredients
            %br/
        %p= pluralize @recipe.reputation_for(:votes).to_i, "vote"
        = link_to "Нравится", vote_recipe_path(@recipe, type: "up"), method: "post"
        = link_to "Не нравится", vote_recipe_path(@recipe, type: "down"), method: "post"
        %br/
        = link_to "Назад", root_path
        - if user_signed_in? && current_user.id == @recipe.user.id
          = link_to "Редактировать", edit_recipe_path(@recipe)
          = link_to "Удалить", @recipe, method: :delete, data: { confirm: "Вы уверены?" }
        %br/
        #disqus_thread
:javascript
  var disqus_url = 'http://example.com';
  var disqus_shortname = 'fitfood';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://fitfood.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

%noscript
  Please enable JavaScript to view the
  %a{:href=>"http://disqus.com/?ref_noscript=fitfood"} comments
  powered by Disqus.
%a.dsq-brlink{:href=>"http://disqus.com"}
  comments powered by 
  %span.logo-disqus Disqus