#recipe
  %p= @recipe.name
  %p= @recipe.description

= link_to "Назад", root_path
= link_to "Редактировать", edit_recipe_path(@recipe)
= link_to "Удалить", @recipe, method: :delete, data: { confirm: "Вы уверены?" }