#recipe
  %p Название:
  %h2= @recipe.name
  %p Калории:
  %h3= @recipe.calories
  %p Белки:
  %h3= @recipe.proteins
  %p Углеводы:
  %h3= @recipe.carbs
  %p Жиры:
  %h3= @recipe.fat
  %p Вес, г:
  %h3= @recipe.weight
  %p Описание:
  %h3= @recipe.description

#ingredients
  %h2 Ингредиенты
  = render @recipe.ingredients

  %h3 Добавить ингредиент
  = render 'ingredients/form'

= link_to "Назад", root_path
= link_to "Редактировать", edit_recipe_path(@recipe)
= link_to "Удалить", @recipe, method: :delete, data: { confirm: "Вы уверены?" }