.row
  .box
    .col-md-4.col-md-offset-4.center
      %p= "#{@user.email} (#{@user.reputation_for(:votes).to_i})"
      - if current_user != @user
        - if current_user.users.include?(@user)
          = link_to "Отписаться", user_unsubscribe_path(@user)
        - else
          = link_to "Подписаться", user_subscribe_path(@user)
= render 'recipes/recipes', recipes: @recipes