%h2= ingredient.product.name
.row
  .col-md-1
    %p Белки:
    %h3= (ingredient.product.proteins * ingredient.weight / 100).round
  .col-md-1
    %p Углеводы:
    %h3= (ingredient.product.carbs * ingredient.weight / 100).round
  .col-md-1
    %p Жиры:
    %h3= (ingredient.product.fat * ingredient.weight / 100).round
  .col-md-1
    %p Вес, г:
    %h3= ingredient.weight.round
%hr